<h1>Registration</h1>
    <div class="mdl-card">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Registration</h3>
      </div>
      <div class="panel-body">

        <% INCLUDE form.tt

        id => 'registration_form'
        arguments = [
          {
            type => 'text',
            name => 'user'
            label => 'Username',
            placeholder => 'Username',
          },{
            type => 'password',
            name => 'pass'
            label => 'Password',
            placeholder => 'Password',
          },{
            type => 'select',
            name => 'lifeplace',
            label => 'Lifeplace'
            options => lifeplace_options
          }
        ]

        %>
      </div>
    </div>
    <div class="panel-footer text-right">
      <input class="btn btn-primary" type="submit" form="registration_form">
    </div>
