<!DOCTYPE html>
<html lang="en">
<% INCLUDE shared/head.tt %>
<body>
<% INCLUDE shared/navbar.tt %>
<div class="container" id="main-container">

  <div class="row">
    <% content %>
  </div>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>