<!DOCTYPE html>
<html lang="en">
<% INCLUDE shared/head.tt %>
<body>
<% INCLUDE shared/navbar.tt %>
<div class="container" id="main-container">

  <div class="row">
    <% content %>
  </div>

</div>

<% INCLUDE shared/footer_scripts.tt %>
</body>
</html>