<div class="mdl-textfield mdl-js-textfield">
  <% IF input.label %>
  <label
  <% IF input.id %> for="<% input.id %>" <% END %>
  class="mdl-textfield__label"
  ><% input.label %></label>
  <% END %>
  <div class="col-md-9">
    <select name="<% select.name %>" class="form-control" <% IF select.id %> id="<% select.id %>" <% END %> >
    <% FOREACH option IN select.options %>
    <option value="<% option.key %>"><% option.value %></option>
    <%END%>
    </select>
  </div>