<div class="mdl-textfield mdl-js-textfield">
  <% IF input.label %>
  <label
  <% IF input.id %> for="<% input.id %>" <% END %>
  class="mdl-textfield__label"
  ><% input.label %></label>
  <% END %>
  <div class="col-md-9">
    <input
    <% IF input.type %> type="<% input.type %>" <% ELSE %> type="text" <% END %>
    <% IF input.class %> class="<% input.class %>" <% ELSE %> class="mdl-textfield__input" <% END %>
    <% IF input.name %> name="<% input.name %>" <% END %>
    <% IF input.value %> value="<% input.value %>" <% END %>
    <% IF input.id %> id="<% input.id %>" <% END %>
    <% IF input.placeholder %> placeholder="<% input.placeholder %>" <% END %>
    />
  </div>
</div>




